/* CSS Variablen Allgemein */
:root {
    --background-color: white;
    --font-color: black;
    --button-1-background-color: rgb(202,225,255);
    --button-1-color: black;
    --button-1-hover-background-color: rgb(30,144,255);
    --button-1-hover-color: black;
    --radio-1-background-color: rgb(202,225,255);
    --radio-1-color: black;
    --radio-1-hover-background-color: rgb(30,144,255);
    --radio-1-hover-color: black;
    --radio-1-checked-background-color: rgb(30,144,255);
    --radio-1-checked-color: black;
    --header-background-color: white;
    --header-color: black;
    --main-background-color: white;
    --main-color: black;
    --footer-background-color: white;
    --footer-color: black;
    --notiz-background-color: white;
    --notiz-color: black;
    --textbox-1-background-color: white;
    --textbox-1-color: black;
}

.dark-mode {
    --background-color: white;
    --font-color: black;
    --button-1-background-color: rgb(202,225,255);
    --button-1-color: black;
    --button-1-hover-background-color: rgb(30,144,255);
    --button-1-hover-color: black;
    --radio-1-background-color: rgb(202,225,255);
    --radio-1-color: black;
    --radio-1-hover-background-color: rgb(30,144,255);
    --radio-1-hover-color: black;
    --radio-1-checked-background-color: rgb(30,144,255);
    --radio-1-checked-color: black;
    --header-background-color: white;
    --header-color: black;
    --main-background-color: white;
    --main-color: black;
    --footer-background-color: white;
    --footer-color: black;
    --notiz-background-color: white;
    --notiz-color: black;
    --textbox-1-background-color: white;
    --textbox-1-color: black;
}

* {
    box-sizing: border-box;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* Grid Header / Content / Footer */
.container {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 1fr auto 1fr; 
    grid-template-areas:
    "header"
    "main"
    "footer";

    background-color: var(--background-color);
    color: var(--font-color);
}

/* Grid Header */
.header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "neue-notiz leer leer style "
    "sortieren sortieren sortieren status";

    margin: 0 0 30px 0;
    padding: 10px;
    border-bottom: 2px solid; 
    background-color: var(--header-background-color);
    color: var(--header-color);
}

.header-row-1-col-1 {
    grid-area: neue-notiz;
    margin: 0 10% 10px 0;
}

.header-row-1-col-2 {
    grid-area: leer;
    margin: 0 0 10px 0;
}

.header-row-1-col-3 {
    grid-area: style;
    margin: 0 0 10px 0;
}

.header-row-2-col-1 {
    grid-area: sortieren;
    margin: 0 0 10px 0;
}

.header-row-2-col-2 {
    grid-area: status; 
    margin: 0 0 10px 0;
}

.content {
    grid-area: main; 
    padding: 10px;
    background-color: var(--main-background-color);
    color: var(--main-color);
}

/* Grid Notiz Element */
.notiz-container { 
    display: grid;
    grid-template-columns: repeat(12, 8.33333333%);
    grid-template-rows: auto auto; 
    grid-template-areas:
    "datum datum datum titel titel titel titel titel titel prio prio prio "
    "status status status text text text text text text text text edit ";
    
    padding: 20px;
    margin: 0 0 30px 0;
    border: 2px solid;
    border-radius: 3px;
    background-color: var(--notiz-background-color);
    color: var(--notiz-color);
}

.notiz-container-datum {
    grid-area: datum; 
    font-weight: 700;
}

.notiz-container-titel {
    grid-area: titel; 
    font-weight: 700;
}

.notiz-container-prio {
    grid-area: prio;
    display: flex;
    align-items: center;
}

.notiz-container-status {
    grid-area: status;
}

.notiz-container-text {
    grid-area: text;
    display: flex;
    border: 1px solid;
}

.notiz-container-text > textarea {
    width: 95%;
}

.notiz-container-text > label {
    max-height: 100%;
    width: 2em;
}

.notiz-container-edit {
    grid-area: edit; 
    justify-self: end;
}

.footer { 
    grid-area: footer; 
    background-color: var(--footer-background-color);
    color: var(--footer-color);
}

/* Klassen zu einzelnen wiederkehrenden Elementen */
.blitz {
    max-width: 100%;
    max-height: 100%;
}

.button-style-1 {
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-radius: 3px;
    font-weight: 700;
    padding: 5px;
    background-color: var(--button-1-background-color);
    color: var(--button-1-color);
}

.button-style-1:hover {
    background-color: var(--button-1-hover-background-color);
    color: var(--button-1-hover-color);
}

.radio-style-1 {
    display: flex; 
}

.radio-style-1 input[type="radio"] {
    display: none;
    padding: 5px;
}

.radio-style-1 label {
    display: inline-block;
    flex: 0 0 30%;
    border: 2px solid;
    border-radius: 3px;
    padding: 5px;
    background-color: var(--radio-1-background-color);
    color: var(--radio-1-color);
}

.radio-style-1 input[type="radio"]:checked + label {
    background-color: var(--radio-1-checked-background-color);
    color: var(--radio-1-checked-color);
}

.radio-style-1 label:hover {
    background-color: var(--radio-1-hover-background-color);
    color: var(--radio-1-hover-color);
}

.textarea {
    resize: none;
    border: none;
}

.textbox-style-1 {
    background-color: var(--textbox-1-background-color);
    color: var(--textbox-1-color);
}