/* CSS Variablen Allgemein */
:root {
    --height: 2em;

    --background-color: white;
    --font-color: black;
    --button-1-background-color: rgb(202,225,255);
    --button-1-color: black;
    --button-1-hover-background-color: rgb(30,144,255);
    --button-1-hover-color: black;
    --radio-1-background-color: rgb(202,225,255);
    --radio-1-color: black;
    --radio-1-hover-background-color: rgb(30,144,255);
    --radio-1-hover-color: black;
    --radio-1-checked-background-color: rgb(30,144,255);
    --radio-1-checked-color: black;
    --main-background-color: white;
    --main-color: black;
    --footer-background-color: white;
    --footer-color: black;
    --notiz-background-color: white;
    --notiz-color: black;
    --textbox-1-background-color: white;
    --textbox-1-color: black;
}

.dark-mode {
    --background-color: white;
    --font-color: black;
    --button-1-background-color: rgb(202,225,255);
    --button-1-color: black;
    --button-1-hover-background-color: rgb(30,144,255);
    --button-1-hover-color: black;
    --radio-1-background-color: rgb(202,225,255);
    --radio-1-color: black;
    --radio-1-hover-background-color: rgb(30,144,255);
    --radio-1-hover-color: black;
    --radio-1-checked-background-color: rgb(30,144,255);
    --radio-1-checked-color: black;
    --main-background-color: white;
    --main-color: black;
    --footer-background-color: white;
    --footer-color: black;
    --notiz-background-color: white;
    --notiz-color: black;
    --textbox-1-background-color: white;
    --textbox-1-color: black;
}

* {
    box-sizing: border-box;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* Grid Header / Content / Footer */
.body-container {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 1fr auto; 
    grid-template-areas:
    "main"
    "footer";

    background-color: var(--background-color);
    color: var(--font-color);
}

/* Grid Content */
.content {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(12, 8.33333333%);
    grid-template-rows: 1fr 5fr 1fr 1fr auto auto;
    grid-template-areas:
    "titellabel titellabel titellabel titel titel titel titel titel titel titel leer1 leer1 "
    "bezlabel bezlabel bezlabel bez bez bez bez bez bez bez leer2 leer2 "
    "priolabel priolabel priolabel prio prio prio prio prio prio prio leer3 leer3 "
    "datumlabel datumlabel datumlabel datum datum datum datum datum datum datum leer4 leer4 "
    "save save save save save save save save save save save save "
    "leer5 leer5 leer5 leer5 leer5 leer5 leer5 leer5 leer5 leer5 cancel cancel ";

    margin: 0 0 30px 0;
    padding: 10px;
    background-color: var(--main-background-color);
    color: var(--main-color);
}

.titel-label {
    grid-area: titellabel;
    height: var(--height);
    margin: 0 0 20px 0;
}

.titel-input {
    grid-area: titel;
    height: var(--height);
    margin: 0 0 20px 0;
}

.leer1 {
    grid-area: leer1;
    margin: 0 0 20px 0;
}

.beschreibung-label {
    grid-area: bezlabel;
    margin: 0 0 20px 0;
}

.beschreibung-text {
    grid-area: bez;
    margin: 0 0 20px 0;
}

.leer2 {
    grid-area: leer2;
    margin: 0 0 20px 0;
}

.prio-label {
    grid-area: priolabel;
    height: var(--height);
    margin: 0 0 20px 0;
}

.prio-container-status {
    grid-area: prio;
    display: flex;
    height: var(--height);
    margin: 0 0 20px 0;
}

.prio-container-status > div {
    flex: 0 0 5%;
    height: var(--height);
}

.leer3 {
    grid-area: leer3;
    margin: 0 0 20px 0;
}

.datum-label {
    grid-area: datumlabel;
    height: var(--height);
    margin: 0 0 20px 0;
}

.datum-container-input {
    grid-area: datum;
    height: var(--height);
    display: flex;
    margin: 0 0 20px 0;
}

.container-datum-bild {
    height: var(--height);
    display: inline-block;
}

.datum-input {
    height: 100%;
    margin: 0 10px 0 0;
}

.leer4 {
    grid-area: leer4;
    margin: 0 0 20px 0;
}

.speichern {
    grid-area: save;
    margin: 0 0 20px 0;
}

.leer5 {
    grid-area: leer5;
    margin: 0 0 20px 0;
}

.cancel {
    grid-area: cancel;
    margin: 0 0 20px 0;
}

.footer { 
    grid-area: footer; 
    background-color: var(--footer-background-color);
    color: var(--footer-color);
}

/* Klassen zu einzelnen wiederkehrenden Elementen */
.button-style-1 {
    /*
    width: 100%;
    height: 100%;
    */
    border: 2px solid;
    border-radius: 3px;
    font-weight: 700;
    padding: 5px;
    background-color: var(--button-1-background-color);
    color: var(--button-1-color);
}

.button-style-1:hover {
    background-color: var(--button-1-hover-background-color);
    color: var(--button-1-hover-color);
}

.button-style-1 > a {
    text-decoration: none;
    background-color: var(--button-1-background-color);
    color: var(--button-1-color);
}

.button-style-1:hover {
    background-color: var(--button-1-hover-background-color);
    color: var(--button-1-hover-color);
}

.button-style-1 > a:visited { 
    background-color: var(--button-1-hover-background-color);
    color: var(--button-1-hover-color);
}

.button-style-1 > a:hover { 
    background-color: var(--button-1-hover-background-color);
    color: var(--button-1-hover-color);
}

.textbox-style-1 {
    background-color: var(--textbox-1-background-color);
    color: var(--textbox-1-color);
}

.blitz {
    max-width: 100%;
    max-height: 100%;
}

.kalender {
    max-height: var(--height);
}