* {
    box-sizing: border-box;
    border: 1px solid;
}

.container-titel {
    display: flex;
}

.titel-label {
    width: 20%;
}

.titel-input {
    width: 60%;
}

.container-beschreibung {
    display: flex;
}

.beschreibung-label {
    width: 20%;
}

.beschreibung-text {
    width: 60%;
}

.container-prio {
    display: flex;
}

.prio-label {
    width: 20%;
}

.container-prio-bild-1 {
    width: 5%;
}

.container-prio-bild-2 {
    width: 5%;
}

.container-prio-bild-3 {
    width: 5%;
}

.container-prio-bild-4 {
    width: 5%;
}

.container-prio-bild-5 {
    width: 5%;
}

.container-datum {
    display: flex;
}

.datum-label {
    width: 20%;
}

.datum-input {
    width: 15%;
}
.container-datum-bild{
    width: 5%;
}

.container-cancel {
    display: flex;
}

.container-speichern {
    width: 90%;
}

.container-cancel-col-1 {
    width: 80%;
}

.container-cancel-col-2 {
    width: 10%;
}

.blitz {
    max-width: 100%;
    max-height: 100%;
}

.kalender {
    max-width: 100%;
    max-height: 100%;
}