/* CSS Variablen Allgemein */
:root {
    --height: 2em;
    --validation-container-background-color: white;
    --validation-container-color: red;
}

/* Grid Header / Content / Footer */
.page-detail.body-container {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 1fr auto; 
    grid-template-areas:
    "main"
    "footer";

    background-color: var(--background-color);
    color: var(--font-color);
}

/* Grid Content */
.page-detail.content {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(12, 8.33333333%);
    grid-template-rows: 1fr 5fr 1fr 1fr auto auto auto;
    grid-template-areas:
    "titellabel titellabel titellabel titel titel titel titel titel titel titel leer1 leer1 "
    "bezlabel bezlabel bezlabel bez bez bez bez bez bez bez leer2 leer2 "
    "priolabel priolabel priolabel prio prio prio prio prio prio prio leer3 leer3 "
    "datumlabel datumlabel datumlabel datum datum datum datum datum datum datum leer4 leer4 "
    "save save save save save save save save save save save save "
    "leer5 leer5 leer5 leer5 leer5 leer5 leer5 leer5 leer5 leer5 cancel cancel " 
    "valid valid valid valid valid valid valid valid valid valid valid valid ";

    margin: 0 0 30px 0;
    padding: 10px;
    background-color: var(--main-background-color);
    color: var(--main-color);
}

.page-detail.titel-label {
    grid-area: titellabel;
    height: var(--height);
    margin: 0 0 20px 0;
}

.page-detail.titel-input {
    grid-area: titel;
    height: var(--height);
    margin: 0 0 20px 0;
}

.page-detail.leer1 {
    grid-area: leer1;
    margin: 0 0 20px 0;
}

.page-detail.beschreibung-label {
    grid-area: bezlabel;
    margin: 0 0 20px 0;
}

.page-detail.beschreibung-text {
    grid-area: bez;
    margin: 0 0 20px 0;
}

.page-detail.leer2 {
    grid-area: leer2;
    margin: 0 0 20px 0;
}

.page-detail.prio-label {
    grid-area: priolabel;
    height: var(--height);
    margin: 0 0 20px 0;
}

.page-detail.prio-container-status {
    grid-area: prio;
    display: flex;
    height: var(--height);
    margin: 0 0 20px 0;
}

.prio-container-status > div {
    flex: 0 0 5%;
    height: var(--height);
}

.page-detail.leer3 {
    grid-area: leer3;
    margin: 0 0 20px 0;
}

.page-detail.datum-label {
    grid-area: datumlabel;
    height: var(--height);
    margin: 0 0 20px 0;
}

.page-detail.datum-container-input {
    grid-area: datum;
    height: var(--height);
    display: flex;
    margin: 0 0 20px 0;
}

.container-datum-bild {
    height: var(--height);
    display: inline-block;
}

.datum-input {
    height: 100%;
    margin: 0 10px 0 0;
}

.page-detail.leer4 {
    grid-area: leer4;
    margin: 0 0 20px 0;
}

.page-detail.speichern {
    grid-area: save;
    margin: 0 0 20px 0;
}

.page-detail.leer5 {
    grid-area: leer5;
    margin: 0 0 20px 0;
}

.page-detail.cancel {
    grid-area: cancel;
    margin: 0 0 20px 0;
}

.page-detail.validation-container {
    grid-area: valid;
    margin: 0 0 20px 0;
    background-color: var(--validation-container-background-color);
    color: var(--validation-container-color);
}

.page-detail.footer { 
    grid-area: footer; 
    background-color: var(--footer-background-color);
    color: var(--footer-color);
}

/* Klassen zu einzelnen wiederkehrenden Elementen */
.kalender {
    max-height: var(--height);
}