/* CSS Variablen Allgemein */
:root {
    --background-color: rgb(200, 200, 200);
    --font-color: black;
}

* {
    box-sizing: border-box;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* Grid Header / Content / Footer */
.container {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 1fr auto 1fr; 
    grid-template-areas:
    "header"
    "main"
    "footer";
}

/* Grid Content */
.content {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(12, 8.33333333%);
    grid-template-rows: 1fr 5fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "titellabel titellabel titellabel titel titel titel titel titel titel titel leer1 leer1 "
    "bezlabel bezlabel bezlabel bez bez bez bez bez bez bez leer2 leer2 "
    "priolabel priolabel priolabel prio prio prio prio prio prio prio leer3 leer3 "
    "datumlabel datumlabel datumlabel datum datum datum datum datum datum datum leer4 leer4 "
    "save save save save save save save save save save save save "
    "leer5 leer5 leer5 leer5 leer5 leer5 leer5 leer5 leer5 leer5 cancel cancel ";

    margin: 0 0 30px 0;
    padding: 10px;

    /*
    margin: 10px;
    padding: 10px;
    background-color: var(--background-color);
    color: var(--font-color);
    */
}

.titel-label {
    grid-area: titellabel;
}

.titel-input {
    grid-area: titel;
}

.leer1 {
    grid-area: leer1;
}

.beschreibung-label {
    grid-area: bezlabel;
}

.beschreibung-text {
    grid-area: bez;
}

.leer2 {
    grid-area: leer2;
}

.prio-label {
    grid-area: priolabel;
}

.prio-container-status {
    grid-area: prio;
    display: flex;
}

.prio-container-status > div {
    flex: 0 0 5%;
}

.leer3 {
    grid-area: leer3;
}

.datum-label {
    grid-area: datumlabel;
}

.datum-container-input {
    grid-area: datum;
}

.leer4 {
    grid-area: leer4;
}

.speichern {
    grid-area: save;
}

.leer5 {
    grid-area: leer5;
}

.cancel {
    grid-area: cancel;
}





.blitz {
    max-width: 100%;
    max-height: 100%;
}

.kalender {
    max-width: 100%;
    max-height: 100%;
}